/*-----------------------*/
/*      Base Global       /
/*-----------------------*/

@import url(.../static/fonts/fontes.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to right, #E8F5E9,  #F8FFFA);
    color: #333333;
    font-family: 'Inter', sans-serif;
}

/*-----------------------*/
/*      Componentes       /
/*-----------------------*/
.container{
    display: flex;
    flex-direction: column;
    min-height: auto;
    min-height: 100dvh;
    padding-bottom: 40px;
}

.card{
    background: #FFFFFF;
    padding: 30px;
    margin: 40px auto 0 auto; 
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;
    gap: 10px;
    margin-right: 30px;
}

.card-logo{
    width: 40px;
    height: 40px;
}

.card-title{
    font-size: 28px;
    font-weight: bold;
    color: #1E7A1E;
    
}

.card-text p{
    margin-top: 20px;
    font-size: 14px;
}

/*------------------*/
/* TELAS >= 768px   */
/*------------------*/
@media (min-width: 768px){
    .card {
        padding: 50px;
        max-width: 600px;
    }
}

h2{
    font-size: 24px;
    margin-bottom: 5px;
}

/*Inputs e labels*/
label{
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #1E7A1E;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #1E7A1E;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    background: #0B3D0B;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}

button:hover{
    background: #1E7A1E;
}

button:active{
    transform: scale(0.97);
}

/*Links*/
a{
    color: #0B3D0B;
    text-decoration: none;
    transition: color 0.15s ease;
}

a:hover{
    color: #1E7A1E;
}