<<<<<<< Updated upstream
/*-----------------------*/
/*    MOBILE FIRST      */
/*---------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to right, #E8F5E9,  #F8FFFA);
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

/* Card de login */
.login-card{
    background: #FFFFFF;
    padding: 30px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;
    gap: 10px;
    margin-right: 30px;
}

.login-logo{
    width: 40px;
    height: 40px;
}

.login-title{
    font-size: 28px;
    font-weight: bold;
    color: #1E7A1E;
    
}

.login-card h2{
    font-size: 24px;
    margin-bottom: 5px;
}

label{
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #1E7A1E;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #1E7A1E;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    background: #0B3D0B;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}

button:hover{
    background: #1E7A1E;
}

button:active{
    transform: scale(0.97);
}

.login-card p{
    margin-top: 20px;
    font-size: 14px;
}

.login-card p a{
    color: #0B3D0B;
    text-decoration: none;
    transition: color 0.15s ease;
}

.login-card p a:hover{
    color: #1E7A1E;
}

/*------------------*/
/* TELAS >= 768px   */
/*------------------*/
@media (min-width: 768px){
    .login-card {
        padding: 50px;
        max-width: 600px;
    }
}
<<<<<<< Updated upstream
=======
/*Cadastro*/

fieldset{
  border: 2px solid #007bff;
=======

/*Cadastro*/

fieldset{
  border: 2px solid #333333;
>>>>>>> Stashed changes
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

legend{
  font-weight: bold;
<<<<<<< Updated upstream
  color: #007bff;
=======
  color: #333333;
>>>>>>> Stashed changes
  padding: 0 8px;
}

#requisitos{
    list-style: none;
}

#requisitos li{
    color: red;
    margin: 4px 0;
    font-size: 14px;
    transition: color 0.2s;
}

#requisitos li.ok{
    color: green;
    font-weight: bold;
<<<<<<< Updated upstream
}
>>>>>>> Stashed changes
=======
}
>>>>>>> Stashed changes
